.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100vh;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--text-color-w-bg);
  position: sticky;
  top: 0;
  overflow-y: auto;

  ul {
    margin: 10px 5px;
  }
}

.side-bar h2 {
  color: var(--text-color-w-bg);
  font-weight: bolder;
  font-weight: 700;
  font-size: 1.6rem;
}

.side-bar a {
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
}

.side-small a {
  font-size: 1.3rem;
}

.side-small img {
  height: 0.9rem;
  margin-right: 5px;
}
.footer {
  margin-top: auto;
  margin-bottom: 20px;
  color: rgba(51, 8, 103, 0.3);
}
