:root {
  margin: 0;
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg-color: #b5ccf8;
  --text-color-w-bg: #ecf2fd;
  --bg-beige: #f1e9da;
}

* {
  margin: 0;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
}

li {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
}

ul {
  padding: 0;
}

body {
  margin: 0;
  /* background: linear-gradient(
    15deg,
    rgba(19, 84, 122, 0.8) 0%,
    rgba(128, 208, 199, 0.8) 100%
  ); */

  background: linear-gradient(
    to top,
    rgba(48, 207, 208, 0.55) 0%,
    rgba(51, 8, 103, 0.5) 100%
  );

  /* background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
  /* display: flex;
  place-items: center;
  min-width: 320px; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-container {
  position: relative;
  height: max-content;
  margin-bottom: 10px;
  display: flex;
}

.container-dash {
  width: 100%;
  display: grid;
}

.container-top,
.container-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

/* CONTAINER BOTTOM - LITTLE THINGS */
.little-things {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
