:root {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg-color: #b5ccf8;
  --text-color-w-bg: #ecf2fd;
  --bg-beige: #f1e9da;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-container {
  position: relative;
  height: max-content;
  margin-bottom: 10px;
  display: flex;
}

.container-dash {
  width: 100%;
  display: grid;
}

.container-top,
.container-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

/* CONTAINER BOTTOM - LITTLE THINGS */
.little-things {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.moods,
.time {
  border: 1px solid;
  width: 300px;
  height: 90px;
}
